.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button_holder {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  border-bottom: 1px solid var(--black-palette-3);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.content_holder {
  flex: 1;
  /* overflow: hidden auto; */
  overflow: auto;
}
