.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 64px;
  padding: 12px;
  background-color: var(--black-palette-1);
  color: var(--black-palette-9);
  text-align: center;
  line-height: 40px;
}

.menu {
  flex: 1;
}
