.primary {
  height: 100vh;
}
/* .secondary {
} */

.sider {
  color: var(--black-palette-1);
}
.header {
  padding: 0;
  color: var(--black-palette-1);
}
.content {
  padding: 24px;
}
.footer {
  padding: 12px 24px;
  border-top: 1px solid var(--black-palette-3);
}
